<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<div th:insert="navbar.html"></div>
<h1>Add Employee Details</h1><br>
<form method="post" action="addEmp">
Employee Name: <input type="text" name="empName"><br><br>
    Employee Address: <input type="text" name="empAddress"><br><br>
    Employee Phone: <input type="text" name="empPhone1" placeholder="Phone1"> <input type="text" name="empPhone2" placeholder="Phone2"><br><br>
    Employee Department: <input type="text" name="empDept1" placeholder="Dept1"> <input type="text" name="empDept2" placeholder="Dept2"><br><br>
<input type="submit" value="Click here to Add Employee">

</form>
<hr>
<h2>Employee Details:</h2><br>
<table class="table table-striped">
    <tr>
        <td>Employee Id</td>
        <td>Employee Name</td>
        <td>Employee Address</td>
        <td>Employee Phone1</td>
        <td>Employee Phone2</td>
        <td>Employee Department1</td>
        <td>Employee Department2</td>
    </tr>
    <tr th:each="e:${empList}">
    <td th:text="${e.getId()}"></td>
        <td th:text="${e.getName()}"></td>
        <td th:text="${e.getAddress().getState()}"></td>
        <td th:text="${e.getPhoneList().get(0).getNumber()}"></td>
        <td th:text="${e.getPhoneList().get(1).getNumber()}"></td>
        <td th:text="${e.getDeptList().get(0).getDeptName()}"></td>
        <td th:text="${e.getDeptList().get(1).getDeptName()}"></td>
    </tr>


</table>
</body>
</html>